name: Desplegar FastAPI a EC2

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted  # ¡Importante! Esto busca tu máquina AWS

    steps:
      - name: Descargar código
        uses: actions/checkout@v4

      - name: Preparar carpeta en el servidor
        run: |
          # Borramos versión vieja y copiamos la nueva
          rm -rf /home/ubuntu/app/*
          # Copiamos todo el contenido actual a la carpeta de la app
          cp -r . /home/ubuntu/app/

      - name: Crear archivo .env con secretos
        working-directory: /home/ubuntu/app
        run: |
          echo "SLACK_BOT_TOKEN=${{ secrets.SLACK_BOT_TOKEN }}" > .env
          echo "SLACK_SIGNING_SECRET=${{ secrets.SLACK_SIGNING_SECRET }}" >> .env
          echo "SLACK_CHANNEL_ID=${{ secrets.SLACK_CHANNEL_ID }}" >> .env

      - name: Instalar dependencias
        working-directory: /home/ubuntu/app
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          # Instalamos dependencias (se creará la carpeta .venv aquí mismo)
          poetry install --no-interaction

      - name: Reiniciar servicio Systemd
        run: |
          sudo systemctl daemon-reload
          sudo systemctl restart fastapi.service
          sudo systemctl status fastapi.service --no-pager